@import "variables.scss";

#contact {    
  padding: 4rem 2rem;
  background-color: $contactBgColor;
  height: calc(100% - 60px);
  position: absolute;
  width: 100%;
  overflow: hidden;

  .page-header {
    text-align: center;
  }

  .page-title {
    color: $contactTitleColor;
    font-family: $contactTitleFont;
    font-size: $contactTitleFontSize;
    font-weight: $contactTitleFontWeight;
  }

  .page-description {
    color: $contactDescriptionColor;
    font-family: $contactDescriptionFont;
    font-size: $contactDescriptionFontSize;
    font-weight: $contactDescriptionFontWeight;
  }
}