@import "variables.scss";

#home {    
  padding: 7rem 2rem;
  background-color: $homeBgColor;
  height: calc(100% - 60px);
  position: absolute;
  width: 100%;
  overflow: hidden;

  .page-header {
    text-align: center;
  }

  .page-title {
    color: $homeTitleColor;
    font-family: $homeTitleFont;
    font-size: $homeTitleFontSize;
    font-weight: $homeTitleFontWeight;
  }

  .page-description {
    color: $homeDescriptionColor;
    font-family: $homeDescriptionFont;
    font-size: $homeDescriptionFontSize;
    font-weight: $homeDescriptionFontWeight;
  }

  .jumbotron {   
    min-height: 100%;
    border-radius: 0px;
    //background-image: url(../img/logo.svg);
  }
}