@import "variables.scss";

#services {    
  padding: 4rem 2rem;
  background-color: $servicesBgColor;
  height: calc(100% - 60px);
  position: absolute;
  width: 100%;
  overflow: hidden;

  .page-header {
    text-align: center;
  }

  .page-title {
    color: $servicesTitleColor;
    font-family: $servicesTitleFont;
    font-size: $servicesTitleFontSize;
    font-weight: $servicesTitleFontWeight;
  }

  .page-description {
    color: $servicesDescriptionColor;
    font-family: $servicesDescriptionFont;
    font-size: $servicesDescriptionFontSize;
    font-weight: $servicesDescriptionFontWeight;
  }

  .service-card {
    margin: 5px;
    padding: 20px;
    background-color: #333333;
    min-height: 100px;
    border-radius: 5px;
    border: none;
  }

  .service-title {
    color: #dfdbdb;
  }

  .service-description {
    color: #b4b4b4;
  }
}