$navBgColor: #BADA55;
$contrastColor: #f1cd00;

// Home
$homeBgColor: #e9ecef ;

$homeTitleColor: black;
$homeTitleFont: Helvetica, sans-serif;
$homeTitleFontSize: 25px;
$homeTitleFontWeight: 100;

$homeDescriptionColor: grey;
$homeDescriptionFont: Helvetica, sans-serif;
$homeDescriptionFontSize: 15px;
$homeDescriptionFontWeight: 100;



// Services
$servicesBgColor: #e9ecef;

$servicesTitleColor: black;
$servicesTitleFont: Helvetica, sans-serif;
$servicesTitleFontSize: 35px;
$servicesTitleFontWeight: 500;

$servicesDescriptionColor: grey;
$servicesDescriptionFont: Helvetica, sans-serif;
$servicesDescriptionFontSize: 1rem;
$servicesDescriptionFontWeight: 100;

// Portfolio
$portfolioBgColor: #e9ecef;
$portfolioUnderlined: #f3560d;

$portfolioTitleColor: black;
$portfolioTitleFont: Helvetica, sans-serif;
$portfolioTitleFontSize: 25px;
$portfolioTitleFontWeight: 100;

$portfolioDescriptionColor: grey;
$portfolioDescriptionFont: Helvetica, sans-serif;
$portfolioDescriptionFontSize: 1rem;
$portfolioDescriptionFontWeight: 100;

// Contact
$contactBgColor: #e9ecef;

$contactTitleColor: black;
$contactTitleFont: Helvetica, sans-serif;
$contactTitleFontSize: 25px;
$contactTitleFontWeight: 100;

$contactDescriptionColor: grey;
$contactDescriptionFont: Helvetica, sans-serif;
$contactDescriptionFontSize: 1rem;
$contactDescriptionFontWeight: 100;