$navBgColor: #BADA55;

// Home
$homeBgColor: white ;

$homeTitleColor: black;
$homeTitleFont: Helvetica, sans-serif;
$homeTitleFontSize: 25px;
$homeTitleFontWeight: 100;

$homeDescriptionColor: grey;
$homeDescriptionFont: Helvetica, sans-serif;
$homeDescriptionFontSize: 15px;
$homeDescriptionFontWeight: 100;



// Services
$servicesBgColor: white;

$servicesTitleColor: black;
$servicesTitleFont: Helvetica, sans-serif;
$servicesTitleFontSize: 25px;
$servicesTitleFontWeight: 100;

$servicesDescriptionColor: grey;
$servicesDescriptionFont: Helvetica, sans-serif;
$servicesDescriptionFontSize: 15px;
$servicesDescriptionFontWeight: 100;

// Portfolio
$portfolioBgColor: white;

$portfolioTitleColor: black;
$portfolioTitleFont: Helvetica, sans-serif;
$portfolioTitleFontSize: 25px;
$portfolioTitleFontWeight: 100;

$portfolioDescriptionColor: grey;
$portfolioDescriptionFont: Helvetica, sans-serif;
$portfolioDescriptionFontSize: 15px;
$portfolioDescriptionFontWeight: 100;

// Contact
$contactBgColor: white;

$contactTitleColor: black;
$contactTitleFont: Helvetica, sans-serif;
$contactTitleFontSize: 25px;
$contactTitleFontWeight: 100;

$contactDescriptionColor: grey;
$contactDescriptionFont: Helvetica, sans-serif;
$contactDescriptionFontSize: 15px;
$contactDescriptionFontWeight: 100;