//contains
//
//products
//product

// products
$productsBgColor: #e9ecef;

$navBgColor: #BADA55;
$contrastColor: #f1cd00;

$productsTitleColor: black;
$productsTitleFont: Helvetica, sans-serif;
$productsTitleFontSize: 35px;
$productsTitleFontWeight: 500;

$productsDescriptionColor: grey;
$productsDescriptionFont: Helvetica, sans-serif;
$productsDescriptionFontSize: 1rem;
$productsDescriptionFontWeight: 100;

// product
$productBgColor: #e9ecef;

$productTitleColor: black;
$productTitleFont: Helvetica, sans-serif;
$productTitleFontSize: 35px;
$productTitleFontWeight: 500;

$productDescriptionColor: grey;
$productDescriptionFont: Helvetica, sans-serif;
$productDescriptionFontSize: 1rem;
$productDescriptionFontWeight: 100;


// enquire
$enquireBgColor: #e9ecef;

$enquireTitleColor: black;
$enquireTitleFont: Helvetica, sans-serif;
$enquireTitleFontSize: 35px;
$enquireTitleFontWeight: 500;

$enquireDescriptionColor: grey;
$enquireDescriptionFont: Helvetica, sans-serif;
$enquireDescriptionFontSize: 1rem;
$enquireDescriptionFontWeight: 100;