//contains
//
//cart
//enquire

// cart
$cartBgColor: #e9ecef;

$navBgColor: #BADA55;
$contrastColor: #f1cd00;

$cartTitleColor: black;
$cartTitleFont: Helvetica, sans-serif;
$cartTitleFontSize: 35px;
$cartTitleFontWeight: 500;

$cartDescriptionColor: grey;
$cartDescriptionFont: Helvetica, sans-serif;
$cartDescriptionFontSize: 1rem;
$cartDescriptionFontWeight: 100;


// enquire
$enquireBgColor: #e9ecef;

$enquireTitleColor: black;
$enquireTitleFont: Helvetica, sans-serif;
$enquireTitleFontSize: 35px;
$enquireTitleFontWeight: 500;

$enquireDescriptionColor: grey;
$enquireDescriptionFont: Helvetica, sans-serif;
$enquireDescriptionFontSize: 1rem;
$enquireDescriptionFontWeight: 100;